

html, body {
    background-image: url('../images/Background.png');
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

.container {
    width: 960px;
    min-height: 100%;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    border-bottom: 2px solid #cccccc;
    margin: 0 auto;
}

#logo {
    background-color: #4aaaa5;
    width: 200px;
    padding: 30px;
    float: left;
    height: 20px;
}

h1 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 24px;
    color: #ffffff;
    text-align: center;
    margin: 0 auto;
}

h2 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-weight: bold;
    color: #4aaaa5;
    font-size: 24px;
}

h4 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #ffffff;
    font-size: 20px;
    padding-top: 18px;
    text-align: center;
}

article {
    background-color: #4aaaa5;
    width: 264px;
    height: 60px;
    margin-top: 126px;
}

p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    color:  #777777;
    line-height: 25px;
}

.navbar {
    padding-top: 15px;
    float: right;
}

li {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    color:  #777777;
    display: inline;
    padding-right: 18px;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: #777777;
    text-decoration: none;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
}

a:hover {
    color: #777777;
    text-decoration: none;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

a:active {
    color: #777777;
    text-decoration: none;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

#main {
    background-color: #ffffff;
    width: 920px;
    height: 480px;
    padding: 20px;
    margin: 0 auto;
    margin: 40px 0px;
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
}

hr {
    border-top: 3px solid #dddddd;
    width: 900px;
    margin: 36px 0px 30px 10px;
}

#cat {
    width: 250px;
    height: 200px;
    padding: 0px 20px 0px 10px;
    float: left;
}

.padding {
    padding: 38px 28px 0px 10px;
}

#form {
    background-color: #ffffff;
    width: 920px;
    height: 630px;
    margin: auto;
    margin: 40px 0px;
    padding: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
}

label {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    margin-left: 10px;
}

input[type=text], select {
    width: 900px;
    height: 36px;
    border: 1px solid #dddddd;
    margin: 10px 0px 20px 10px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;
    color: #777777;
}

input[type=email], select {
    width: 900px;
    height: 36px;
    border: 1px solid #dddddd;
    margin: 10px 0px 20px 10px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;
    color: #777777;
}

#message {
    width: 890px;
    height: 190px;
    padding: 6px;
    border: 1px solid #dddddd;
    margin: 10px 0px 0px 10px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;
    color: #777777;
}

input[type=submit] {
    width: 116px;
    height: 40px;
    margin: 20px 0px 0px 10px;
    background-color: #4aaaa5;
    border: none;
    color: #ffffff;
    text-decoration: none; 
    cursor: pointer;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;
}

#portfolio {
    background-color: #ffffff;
    width: 920px;
    height: 855px;
    margin: 0 auto;
    padding: 20px;
    margin: 20px 0px 40px 0px;
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
}

article {
    background-color: #4aaaa5;
    width: 264px;
    height: 60px;
    margin-top: 126px;
}

.hangman {
    background-image: url('../images/iPad.jpg');
    background-size: 264px 196px;
    width: 264px;
    height: 196px;
    margin-left: 10px;
    float: left;
}

.rpg {
    background-image: url('../images/Deck.jpg');
    background-size: 264px 196px;
    width: 264px;
    height: 196px;
    margin-left: 30px;
    float: left;
}

.trivia {
    background-image: url('../images/headphones.jpg');
    background-size: 264px 196px;
    width: 264px;
    height: 196px;
    margin: 54px 0px 0px 10px;
    float: left;
    clear: both;
}

.rutgers {
    background-image: url('../images/table.jpg');
    background-size: 264px 196px;
    width: 264px;
    height: 196px;
    margin: 54px 0px 0px 30px;
    float: left;
}

.rockPaperScissors {
    background-image: url('../images/Screen.jpg');
    background-size: 264px 196px;
    width: 264px;
    height: 196px;
    margin: 54px 0px 0px 10px;
    float: left;
    clear: both;
}

.sticky {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 12px;
    color: #dddddd;
    margin-top: 20px;
    padding: 30px 0px;
    background-color: #666666;
    text-align: center;
    border-top: 10px solid #4aaaa5;
    clear: both;
}